body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    height: auto;
    margin-top: 2px;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    margin-right: 70px;
    font-size: large;
}

.nav .dropdown, .nav .nav-item {
    margin-left: 20px;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.profile {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile h1 {
    margin-bottom: 20px;
    color: #333;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    text-align: left;
}

.info-item i {
    font-size: 24px;
    margin-right: 10px;
}

.info-item p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.info-item strong {
    font-weight: bold;
}

.boton{
    padding: 20px;
}

.boton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;     
}

.button:hover {
    background-color: #42464bbe;
}