body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../img/fondohuellas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}


.logo img {
    width: 50px;
    height: auto;
    margin-top: 10px;
}

.container-2 {
    max-width: 50%;
    margin: 0 auto;
    padding: 0;
    background-color: #fffffff8;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.253);
}

.user-img img{
    width: 20%;
    height: 20%;
    border: 5px solid #000;
}

.user-img h1{
    padding-top: 20px;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fffffff8;
    background-blend-mode: multiply;
    width: 250px;
}

.info-item i{
    margin-right: 10px;
    padding: 0 3px;
}

.info-item-direc {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffffec;
    background-blend-mode: multiply;
    width: 250px;
    margin-right: 10px;
}

.info-item-doc {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffffec;
    background-blend-mode: multiply;
    width: 250px;
    margin-right: 10px;
}

.info-item-doc span{
    margin-left: 10px;
}

.info-item-direc span{
    margin-left: 10px;
}

.boton{
    padding: 20px;
}

.boton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;     
}

.button:hover {
    background-color: #42464bbe;
}

