body {
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    height: auto;
    margin-top: 2px;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
    margin-right: 70px;
    font-size: large;
}

.nav .dropdown, .nav .nav-item {
    margin-left: 20px;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 
.dropdown-content a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px); /* Header + Footer height */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(183 183 183 / 75%);
    border-radius: 10px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: xx-large;
    color: black;
}

.table-container {
    background-color: rgba(225, 215, 215, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 95%;
    max-width: 800px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: black;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #bfbcbcbf;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 10px;
}

.social-media li {
    display: inline-block;
    margin: 0 5px;
}

.social-media a {
    color: #fff;
    font-size: 20px;
}
