body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;    
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px 0;
}

nav ul li {
    margin-right: 50px;
}

nav img {
    margin-right: 690px;
    height: 45px; 
    border-radius: 6px;
}

nav ul li{
    padding: 9px 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.nav-links li {
    margin: 0;
    position: relative; /* Añadir para posicionamiento del dropdown */
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin-right: 50px;
}

.card {
    background-color: #fff;
    padding: 90px;
    border-radius: 8px;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    padding: 0;
}

.text{
    padding: 5px;
    background-color: #fff;
    color: #333;
}
.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details h2 {
    margin-bottom: 5px;
}

.user-details p {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.contact a:hover {
    background-color: #ddd;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.navigation a:hover {
    text-decoration: underline;
}

.icons{
    width: 80px;
    padding-left: 518px;
    font-size: 150px;
}

.user-icono {
    display: flex;
    align-items: center;
}

.user-icono i{
    margin-right: 10px;
    padding: 0 3px;
}

.user-icono a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}