/* crearQuejaC.css */

html, body {
    height: 100%;
    margin: 0;
}

.crear-queja-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 20px;
}

.form-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 30px;
}

.textarea-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* Opcional: para evitar redimensionar el textarea */
}

.char-count {
    position: absolute;
    bottom: 10px; /* Alinea el contador a 10px desde la parte inferior del textarea */
    right: 10px; /* Alinea el contador a 10px desde la parte derecha del textarea */
    font-size: 14px;
    color: #666;
    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para legibilidad */
    padding: 2px 4px;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #18a32b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #17700b;
}



/* Estilos para el footer */
.footer {
    margin-top: auto; /* Asegura que el footer se empuje al final del contenedor */
}

 /* Botón flotante de WhatsApp */
 .whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde el fondo */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    text-decoration: none;
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E; /* Color verde más oscuro al pasar el mouse */
  }
