nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px 0;
}

nav ul li {
    margin-right: 50px;
}

.logo {
    width: 70px;
    height: auto;
    display: block;
    margin-left: 0; 
    border-radius: 15px;
}

